@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
    background-color:white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: 'Dancing Script';
    color:#C17767;
    font-size: 2em;
    margin-top: 10px;
    
}
.logo {
    width: 150px;
} 
a {
    font-family: 'Balsamiq Sans'; 
}
nav a:hover {
    background-color: black;
    color: #D3B99F;
} 
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
header {
    background-color:#6D98BA;
    display: grid;
    grid-template-columns: 150px auto;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}


#welcome {
    margin: 0;
    font-family: 'Balsamiq Sans';
    padding: 15px 30px;
    font-size: 100px;
    margin-top: 50px;
    border-radius: 5px;
    background-color:#52C7CA;
    text-decoration: none;
    text-align: center;
    color:#C17767;   
}
#river-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.first-river h2 p{
    padding-bottom: 15px;
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.second-river h2 p{
    padding-bottom: 15px; 
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.third-river h2 p{
    padding-bottom: 15px;
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.new-book {
    text-align: center;
    font-family: 'Balsamiq Sans';
    color:#C17767;
}
.highlights {
    text-align: center;
    font-family: 'Balsamiq Sans';
    color:#C17767;
}
.rafting1{
    width: 100%;
    grid-column: 2;
    grid-row: 1;  
    box-shadow: 5px 5px 10px #6f7364;
}
.rafting2{
    width: 100%;
    grid-column: 1;  
    grid-row: 2;
    box-shadow: 5px 5px 10px #6f7364;
}
.rafting3{
    width: 100%;
    grid-column: 2;  
    grid-row: 3;
    box-shadow: 5px 5px 10px #6f7364;
}
#river-grid h2{
    font-family: 'Dancing Script'; 
    color:#52C7CA;
    align-items: center;
}
p {
    font-family: 'Balsamiq Sans';
    color:#6D98BA;
}
#faq{
    font-family: 'Dancing Script';
    color:#6f7364;
}
.accordion {
    background-color: white;
    color: #C17767;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Balsamiq Sans';
  }
  
  .active, .accordion:hover {
    background-color: #52C7CA;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

footer {
    padding: 25px 50px;
    background-color:#6D98BA;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer a{
    background-color:#52C7CA;
    text-decoration: none;
}
.footer-p{
    color:black
}
footer p {
    font-family: 'Balsamiq Sans';
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}