@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
    background-color:white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-title {
    font-family: 'Dancing Script';
    color:#89B92A;
    font-size: 2em;
    margin-top: 10px;
    
}
.logo {
    width: 150px;
} 
a {
    font-family: 'Balsamiq Sans'; 
}
nav a:hover {
    background-color: black;
    color: #396E94;
} 
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    color: #396E94;
    text-decoration: none;
    justify-items: center;
}
header {
    background-color:#381D2A;
    display: grid;
    grid-template-columns: 150px auto;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  /* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
footer {
    padding: 25px 50px;
    background-color:#381D2A;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer a{
    text-decoration: none;
    border-radius: 5px; 
    color: #89B92A;
}
footer p{
    color:#89B92A;
}
footer p {
    font-family: 'Balsamiq Sans';
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}