@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
    background-color:white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-title {
    font-family: 'Dancing Script';
    color:#89B92A;
    font-size: 2em;
    margin-top: 10px;
    
}
.logo {
    width: 150px;
} 
a {
    font-family: 'Balsamiq Sans'; 
}
nav a:hover {
    background-color: black;
    color: #89B92A;
} 
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    color: #89B92A;
    text-decoration: none;
    justify-items: center;
}
header {
    background-color:#381D2A;
    display: grid;
    grid-template-columns: 150px auto;
}
#welcome {
    margin: 0;
    font-family: 'Balsamiq Sans';
    padding: 15px 30px;
    font-size: 100px;
    margin-top: 50px;
    border-radius: 5px;
    background-color:#381D2A;
    text-decoration: none;
    text-align: center;
    color:#89B92A;   
}
#fruit-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em 1em;
}
.first-fruit h2  p{
    padding-bottom: 15px;
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.second-fruit h2  p{
    padding-bottom: 15px; 
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.third-fruit h2  p{
    padding-bottom: 15px;
    font-family: 'Balsamiq Sans'; 
    font-size: .8em;
    text-align: center;

}
.new-book {
    text-align: center;
    font-family: 'Balsamiq Sans';
    color:#18873B;
}
.highlights {
    text-align: center;
    font-family: 'Balsamiq Sans';
    color:#18873B;
}
.fruit1{
    width: 100%;
    grid-column: 2;
    grid-row: 1;  
    box-shadow: 5px 5px 10px #6f7364;
}
.fruit2{
    width: 100%;
    grid-column: 1;  
    grid-row: 2;
    box-shadow: 5px 5px 10px #6f7364;
}
.fruit3{
    width: 100%;
    grid-column: 2;  
    grid-row: 3;
    box-shadow: 5px 5px 10px #6f7364;
}
#fruit-grid h2{
    font-family: 'Dancing Script'; 
    color:#381D2A;
    align-items: center;
}
p {
    font-family: 'Balsamiq Sans';
    color:#51A033;
}
ul {
    font-family: 'Balsamiq Sans';
    color:#51A033;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
footer {
    padding: 25px 50px;
    background-color:#381D2A;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer a{
    text-decoration: none;
    border-radius: 5px; 
    color: #89B92A;
}
footer p{
    color:#89B92A;
}
footer p {
    font-family: 'Balsamiq Sans';
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}